*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrap {
    width: 800px;
    margin: 60px auto;
    border: 1px solid #ddd;
    padding: 30px;
}

.input-field {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
}

.categorybox{
    position: relative;
}
.arrow{
    position: absolute;
    right: 10px;
    top: 5px;
    pointer-events: none;
}

.categoryList {
    display: none;
    border: 1px solid #ccc;
    margin-top: 5px;
    padding: 0;
}

.categoryList li {
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
}

.categoryList li:hover {
    background: #eee;
}

.findButton {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 30px;
}