*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;  /* 상속 */
}
button{
    cursor: pointer; /* 손가락 모양 */
}
input{
    outline: none;
    padding: 4px 10px;
    font-size: 20px;
}

#wrap{
    width: 1200px;
    margin: 0 auto;
}
#header{
    width: 100%;
    padding: 20px;
}
#nav{
    width: 100%;
    font-size: 25px;
    font-weight: 700;
}
#nav .menu{
    display: flex;  /* 일렬로 */
    justify-content: space-between; /* 알아서 맞춰짐 */
}
#nav .menu .menuItem{
    background: #fff;
    color: #000;
    border-radius: 5px;
    transition: all 0.7s;
}
#nav .menu .menuItem:hover{ /* hover : 마우스를 올렸을때 */
    background: #999;
    color: #eee;
}
#nav .menu .menuItem a{
    padding: 7px 15px;
}

/* 로그인 영역 style */
#loginWrap{
    width: 100%;
    position: relative;
}
#loginWrap .loginBox{
    padding: 20px;
    text-align: right; /* 버튼 태그가 오른쪽으로 감 */
}
#loginBt{
    width: 260px;
    padding: 20px 0;
    font-size: 20px;
    border: 0;
    border-radius: 7px;
    background: rgb(65, 81, 116);
    color: #fff;
}

#main{
    width: 100%;
    height: 800px;
    margin-bottom: 100px;
}

/* footer 영역 */
#footer{
    width: 100%;
    position: relative;
    padding: 50px 100px;
}
#footer .foot{
    padding: 20px;
}
#footer .foot .footText{
    width: 100%;
    position: relative;
}
#footer .foot .footText p{
    margin-bottom: 20px;
}

/* footer 로고 이미지 영역 */
img{width: 100%;}
#footer .foot .footText .logoImg{
    position: absolute;
    width: 100px;
    right: 0;
    /* top 과 transform을 해줘야 그림이 텍스트 옆에 가운데 가게 할 수 있다.*/
    top: 50%;
    transform: translateY(-50%); /* 높이값의 절반만큼 이동시키겠다. */
}