*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

#searchForm {
    width: 500px;
    margin: 150px auto;
}
.serchFormBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.input-field {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.input-field label {
    width: 120px;
    font-size: 30px;
}
.input-field input {
    font-size: 30px;
    width: calc(100% - 120px);
}
#search{
    width: 100px;
    font-size: 15px;
    padding: 10px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}